html {
    scroll-behavior:smooth;
  }


body {    
    display: block;
    margin: 0 auto;
    width: 950px;
    height: 1030px;
}

/*Header*/
.header {
    display: flex;
    justify-content: space-between;
    height: 75px;
    margin-bottom: 10px;
}

.header-img-logo{
    margin: 25px 0 10px 25px;
    height: 45px;
    width: 175px;
}

.header-navigations-container {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.header-text-navigations{
    padding: 20px 10px;
    font-size: 12px;
}

.header-navigations-divider{
    margin: 18px 0 10px 0   ;
}
.header-text-navigations a:hover{
    text-decoration: none;
}

/*Sub header img*/
.sub-header-img{
    width: 100%;
    height: 110px;
    margin: 0;
}

/*Horizontal tabs*/
.tabs-container-gradient{
    display: block;
    height: 33px;
    background-image: -webkit-linear-gradient(top, #f6f6fb 0,#e3e4f3 15px,#dfe0f1 16px,#b9badf 30px,#afb1da 31px,#c1c3e2 33px)
}
.horizontal-tabs-navigaations{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0 58px 0 117px;
}

.text-tabs-positions{
    list-style-type: none;
    width: 100%;
    height: 33px;
}

.text-tabs-style{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #5c7f9c;
    height: 33px;
}

.text-tabs-style:hover{
    color: #fff;
    background-image: -webkit-linear-gradient(top, #d4e9f1 0, #8fc1d7 15px, #80b9d2 16px, #377ba4 30px,#30749e 31px, #8aa8c6 33px);
}

.tab-visibility {
    display: none;
}

.tab-visibility:target{
    display: block;
}




.page-container{
    display: flex;
    flex-direction: row;
}


/*Vertical navigations*/

.vertical-navigations-container{
    display: block;
    width:230px ;
    height:730px ;
    background-color: #e7e6ef;
}

.horizontal-menu-point{
    display: flex;
    align-items: center;
    width: 200px;
    height: 30px;
    margin: 0;
    padding: 5px 0 5px 30px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    background-color: #7371b1;
}

.vertical-text-panel{
    display: flex;
    flex-direction: column;
    padding: 0;
}

.vertical-text-positions{
    margin: 0;
    padding: 5px 0 5px 10px;
    display: flex;
    flex-direction: row;
}   

.picture-choice{
    background-image: url(/images/icon-vertical-menu.jpg);
    background-repeat: no-repeat;
    width: 25px;
    height: 9px;
    padding: 5px 15px 5px 5px;
    margin-top: 3px;
}
.vertical-text-positions:hover .picture-choice {
    background-image: url(/images/icon2-vertical-menu.jpg);
}

.font-vert-style{
    font-size: 14px;
    padding: 0;
}

/*Page content*/
.content-page-positions{
    display: flex;
    flex-direction: column;
}
.page-sub-menu{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.text-sub-container{
    list-style-type: none;
    padding: 0 7px 7px 0;
}

.text-style-sub-menu{
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.text-divider-sub-menu{
    font-size: 9px;
}

.h2-page-container{
    padding-left: 40px;
    margin: 5px 0;
}

.hr-positions{
    width: 640px;
    margin: 10px 40px 30px 40px;
    display: flex;
    align-items: center;
}

.img-on-page{
    float: left;
}





/*Footer*/
.footer-container{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    background-color: #7371b1;
    justify-content: space-between;
}

.informations-footer{
    margin: 22px 0 19px 26px;
}

.text-positions-style{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
}

.footer-img{
    margin: 28px 25px 20px 0;
    width: 127px;
    height: 32px;
}